///////// Font Families /////////

$fontfam: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;

$fontfam2: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

///////// Colours /////////
$lblue: #C7F7FF;
$mblue: #89C0C9;
$dblue: #3a5E63;

$lbrown: #C9A689;
$dbrown: #7C593C;

$lgrey: #d4d4d4;
$dgrey: #222;

$white: #fff;


//Font size//

$sml: 1rem;
$med: 1.414rem;
$lrg: 1.999rem;

//Width//

$smlw: 100;
$medw: 400;
$lrgw: 700;
